[Unit]
Description=SpaceTraders RS
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/st/main 2>&1
WorkingDirectory=/opt/st
Restart=always
RestartSec=30
StandardOutput=append:/opt/st/run.log

[Install]
WantedBy=multi-user.target
